* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    text-rendering: optimizeLegibility;
    scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
    width: 15px;

}

::-webkit-scrollbar-track {
    background: #695757;

}

::-webkit-scrollbar-thumb {
    background: #888888;
}

#page-1 {
    width: 100%;
    height: 100vh;
    background-color: yellowgreen;
    scroll-snap-align: start;
}

#page-2 {
    width: 100%;
    height: 100vh;
    background-color: rgb(50, 205, 143);
    scroll-snap-align: center;
    scroll-timeline: --squareTimeline vertical;
}

#page-3 {
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 212, 182);
    scroll-snap-align: start;
}

#page-1 .top {
    width: 100%;
    height: 30vh;
}

.btns {
    display: flex;
    gap: 10px;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#page-1 h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 70px;
    text-align: center;
    padding-top: 1vw;
}

#btn1,
#btn2,
#btn3 {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #0916ca;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}

#page-1 h2 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f4eded;
    font-size: 50px;
}

#page-2 h2,
#page-3 h2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f4eded;
    font-size: 50px;
}

